.container-sm{
    margin: 200px 0px;
}
.danh1{
    margin-top: 10px;
}
.h4{
    text-align: justify;
}
.col-3 a{
    /*text-align: center;*/
    /*border: 1px solid royalblue;*/
    /*background: royalblue  ;*/
    /*color: white;*/
    background-color:#0a53be;
    color: white;
    padding: 14px 25px;

    text-decoration: none;
    display: inline-block

}
.col-3 a:hover{
    background: white;
    color: #0a58ca;
    border: 2px solid #0b5ed7;

}
.a2{
    text-align: center;
    margin-top:20px;
}
.a3 a{
    max-width: 150px;
    max-height:60px ;
    margin-left: 95px;
    margin-top: 20px;
}
